.overlay {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.backButton {
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  color: #007bff;
  border: none;
  background: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #f0f0f0;
  }
}

.loading,
.error {
  text-align: center;
  font-size: 16px;
  color: #ff5630;
}

.markdown {
  line-height: 1.6;
  font-size: 16px;
  font-family: 'Arial', sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 20px 0 10px;
  }

  p {
    margin: 10px 0;
  }

  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
  }

  pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
  }

  ul {
    padding-left: 20px;
    list-style-type: disc;

    li {
      margin-bottom: 5px;
    }
  }

  ol {
    padding-left: 20px;
    list-style-type: decimal;

    li {
      margin-bottom: 5px;
    }
  }

  blockquote {
    border-left: 4px solid #ddd;
    padding-left: 10px;
    color: #555;
    font-style: italic;
    margin: 20px 0;
  }
}

.doneButton {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #36b37e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #2e9b6b;
  }

  &:disabled {
    background-color: #b3b3b3;
    cursor: not-allowed;
  }
}

.doneMessage {
  background-color: rgb(224, 255, 224);
  padding: 20px;
  border-radius: 8px;
  color: green;
}