.message {
  width: 90%;
  padding: 10px 2.5%;
  border-radius: 15px;
  margin: 15px 0;
  font-size: 1rem;
  word-wrap: break-word;
  position: relative;
}

.myMessage {
  align-self: flex-end;
  background-color: #333;
  color: white;

  /* Tail for my message */
  &:after {
    content: '';
    position: absolute;
    right: -4px;
    top: 10px;
    width: 10px;
    height: 10px;
    background-color: #333;
    transform: rotate(45deg);
  }
}

.otherMessage {
  align-self: flex-start;
  background-color:rgb(248,249,250);
  color: #333;

  /* Tail for the other person's message */
  &:after {
    content: '';
    position: absolute;
    left: -4px;
    top: 10px;
    width: 10px;
    height: 10px;
    background-color:rgb(248,249,250);
    transform: rotate(45deg);
  }
}
