.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; /* Full-screen height */
  background-color: black; /* Black background with opacity */
  position: fixed; /* Use fixed to ensure it overlaps everything */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it appears above other components */
}

.inputWrapper {
  width: 100%;
  max-width: 400px; /* Limit the input width */
  padding: 0 20px;
}

.input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  color: white;
  background-color: transparent; /* Transparent background */
  border: 1px solid white; /* White border */
  border-radius: 5px;
  outline: none;
  text-align: center; /* Center text */
  caret-color: white; /* White cursor */
}

.input::placeholder {
  color: #aaa; /* Placeholder color */
  font-style: italic;
}

.input:focus {
  border-color: #00ffcc; /* Highlighted border on focus */
}
