$heightTab: 4%;
$heightMain: 92%;

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f9f9f9;
  position: relative;

  // Tab UI
  .tabContainer {
    // flex
    display: flex;
    justify-content: space-around;
    // color
    background-color: #ffffff;
    // size
    border-bottom: 1px solid #ddd;
    height: $heightTab;
    padding: 10px 0;
    
    .tab {
      background: none;
      border: none;
      font-size: 16px;
      padding: 10px 20px;
      cursor: pointer;

      &:hover {
        background-color: #e9ecef;
      }   
    } 
  }

  .mainContainer{
    // size
    height: $heightMain;
    // position
    position: relative;
  }

}









