$heightChat: 92%;
$heightInput: 8%;


.container{
  // position
  position: relative;
  z-index: 1;
  // size
  width: 100%;
  height: 100%;
  
  .chatContainer{
    // size
    height: $heightChat;
    // flex
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;

    .messages{
      flex: 1;
      overflow-y: scroll;
      padding: 20px;
      background-color: #ffffff;

    }
  }

  .inputContainer{
    height: $heightInput;
  }

}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; // Adjust height to fit the loading area
  margin-top: 20px;

  p{
    margin-left: 1rem;
  }
}
