.container{
  // size
  margin: 0;
  width: 100%;
  height: 99.5vh;
  // flex
  display: flex;

  .wokwi{
    // size
    width: 70%;
    height: 100%;
  }
  .robocrafter{
    // size
    width: 30%;
  }
}